<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/frontend :: head(~{::title},~{::links})">
        
         <link th:href="@{product.css}" rel="stylesheet">
    </head>
    <body>
        <header th:replace="layout/frontend :: header" ></header>

        <main class="container">
            <h1>AJAX</h1>
            <!-- Se pone esa funcion para bloquear el boton  -->
            <!-- Se pone la funcion ajax_get en el evento onclick, lo que hara esta funcion asincrona sera traer un valor existente de una ruta 
            y mostrarlo en un div que ya este formado para poder ver el valor -->
            <a href="javascript:void(0);" onclick="carga_ajax_get('/peticion', 'steven se va a quedar calvo', 'ajax')">Haz click!</a>
            
            <div id="ajax"></div>

        </main>
        <footer th:replace="layout/frontend :: footer"></footer>


        <div th:replace="layout/frontend :: scripts"></div>
    </body>
</html>
